cnn_model.pth filter=lfs diff=lfs merge=lfs -text
cnn_model_50_epoch_normal_kernel_size3.pth filter=lfs diff=lfs merge=lfs -text
cnn_model_50_epoch_normal_kernel_size5.pth filter=lfs diff=lfs merge=lfs -text
